.App {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color:  #ace600; /* Replace with your desired background color */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  height: 100vh;
  margin: 0;
  padding: o;
}

.App h1{
  color: rgb(38, 0, 255);
  font-family: 'Courier New', Courier, monospace;
}

input {
  padding: 5px;
  margin-right: 10px;
  width: 50%;
  height: 3rem;
  font-size: 20px;
  border: none;
  border-radius: 2rem;
}

.li-btn {
  padding: 5px 10px;
  width: 10rem;
  height: 3.5rem;
  font-size: 20px;
  border: none;
  border-radius: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

li {
  margin: 5px;
  font-size: 15px;
  display: block;
  background-color: #ace600;
  width: 100%;
}

.list-style{
  /* background-color: aqua; */
  color: #0000ff;
  font-size: 26px;
}

.liDiv{
  display: block;
}

.button-container {
  margin-top: 5px; /* Adjust the margin as needed */
}

.button-container button {
  margin-right: 5px; 
  width: 5rem;
  height: 2rem;
}
